* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.section {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    max-height: 1000px;
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
    top: 30%;
}

.pagination {
    margin-top: 10px;
}

.slide {
    display: none;
}

.img {
    /* max-width: 40vw; */
    max-height: 40vh;
}

img {
    max-width: inherit;
    max-height: inherit;
}

.text {
    color: #f2f2f2;
    font-size: 17px;
    margin: 8px 12px;
    position: absolute;
    /* bottom: -12px;
    width: 100%; */
    text-align: left;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 3px 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    padding: 4px 4px;
}

.dot:hover {
    background-color: #717171;
}

.active {
    background-color: #1a1ddd;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}